body{
            background-color: #000;
            color: #000;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container{
            width:400px;
            padding:20px;
            background-color: #eee;
            border-radius: 8px;
        }

        h1{
            text-align: center;
        }

        form{
            display: flex;
            justify-content: center;
        }

        input[type="text"]{
            flex: 1;
            padding: 10px;
            border: none;
            border-radius: 10px;
            margin-right:10px;
        }

        button{
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer
        }

        button[type="submit"]{
            background-color: black;
            color: #fff;
        }

        button[type="submit"].delete-btn, button[type="submit"].task-btn{
            background-color: transparent;
            color: #000;
        }

        ul{
            list-style: none;
            padding: 0;
        }

        li{
            background-color: #eee;
            color: #000;
            padding:2px 10px;
            margin:0px;
            display:flex;
            align-items:center
        }

        li.done .task-text{
            text-decoration: line-through;
            color: grey;
        }

        .check {
            width: 20px;
            text-align:center;
        }

        button[type="submit"].delete-btn{
            margin-left: auto;
            color: black;
            cursor: pointer;
            border: none;
            font-size: 16px;
        }

        button[type="submit"].task-btn {
            cursor: pointer;
            border:none;
            font-size: 16px;
        }

        task-form{
            flex:1;
        }
        .delete-form{
            margin-left:auto;
        }
