<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-do List</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>To-do List</h1>
         <form action="{{url_for('add')}}" method="post">
             <input type="text" name="task" id="task" placeholder="digite uma nova tarefa" required>
             <button type="submit">Add</button>
         </form>
         <ul>
             {% for task in tasks %}
             <li class="{% if task.done %}done{% endif %}">
                 <form class="task-form" action="{{url_for('toggle',task_index=loop.index0)}}" method="post">
                    <button type="submit" class="task-btn">
                        <span class="check">
                             {% if task.done %}
                             &#10003
                             {% else %}
                             &#9675
                             {% endif %}
                        </span>
                        <span class="task-text">{{task.title}}</span>
                    </button>
                 </form>
                 <form class="delete-form" action="{{url_for('delete',task_index=loop.index0)}}" method="post">
                    <button type="submit" class="delete-btn">
                        X
                    </button>
                 </form>
                 {% endfor %}
             </li>
         </ul>
    </div>
</body>
</html>